.formField {
  margin: 1rem 0rem;
  size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.formContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}